sudo: required

services:
  - docker

language: java
jdk: openjdk8

before_install: "cp .travis.settings.xml $HOME/.m2/settings.xml"

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
    docker push sdcplatform/collectionexercisesvc;
    fi

notifications:
  slack:
    rooms:
      - surveydatacollection:da6uVlmyrFhqINdm25bkLDiu
    on_failure: always
    on_success: never

cache:
  directories:
  - $HOME/.m2

branches:
    only:
        - master